/* ------------------
    ASIDE   
------------------ */
.ms-column {
    display: flex;
    flex-direction: column;
}
#aside a {
    transition: background-color 0.3s linear;
}
#aside a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* ------------------
    ANIMATION   
------------------ */
#aside {
    animation: from-left 0.7s ease-out;
}