/* ------------------
    MAIN   
------------------ */
#boolean {
    background-color: var(--ms-third-bg-color);
}
.ms-top-2px {
    position: relative;
    top: .125rem;
}
/* ------------------
    ANIMATION   
------------------ */
main {
    animation: zoom-in 0.7s ease-out;
}
.ms-shake:active {
    animation: shake 0.5s linear;
}