/* ------------------
    COMMONS
------------------ */
body {
    font-family: 'Roboto', sans-serif;
}
img {
    display: block;
    height: 100%;
}
a {
    color: inherit;
}
/* ------------------
    UTILITY
------------------ */
:root {
    --ms-first-bg-color: #f8f9fa;
    --ms-second-bg-color: #061e34;
}
.ms-bg-color {
    background-color: #fff;
}
.ms-bg-second-color {
    background-color: #e5e5e5;
}
.ms-bell-style {
    border: none;
    color: #ff8f00;
}
.ms-height-100 {
    height: 100%;
}
.ms-height-50 {
    height: 50%;
}
.ms-width-300 {
    width: 18.75rem;
}
.ms-direction-row {
    flex-direction: row;
}
/* ------------------
    STRUCTURE
------------------ */
header {
    height: 8.125rem;
    background-color: var(--ms-first-bg-color);
    border: 1px dashed red; 
}
.ms-prime-content {
    height: calc(100vh - 8.125rem);
    display: flex;
}
aside {
    width: 16.875rem;
    flex-shrink: 0;
    background-color: var(--ms-second-bg-color);
    color: white;
}
main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--ms-first-bg-color);
}

/* ------------------
    ASIDE   
------------------ */
.ms-column {
    display: flex;
    flex-direction: column;
}
.ms-col i {
    font-size: 1.25rem;
}

/* ------------------
    MEDIA-QUERY
------------------ */
@media screen and (max-width: 991px) {
    header {
        height: 4.375rem;
    }
    .ms-prime-content {
        height: calc(100vh - 4.375rem);
    }
    aside {
        width: auto;
    }
    .ms-width-300 {
        width: 5.625rem;
    }
}