/* ------------------
    COMMONS
------------------ */
body {
    font-family: 'Roboto', sans-serif;
}

/* ------------------
    UTILITY
------------------ */
:root {
    --ms-first-bg-color: #f8f9fa;
    --ms-second-bg-color: #061e34;
}

/* ------------------
    STRUCTURE
------------------ */
header {
    height: 8.125rem;
    background-color: var(--ms-first-bg-color);
    border: 1px dashed red; 
}
.ms-prime-content {
    height: calc(100vh - 8.125rem);
    display: flex;
}
aside {
    width: 16.875rem;
    background-color: var(--ms-second-bg-color);
}
main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--ms-first-bg-color);
}