/* ------------------
    TYPOGRAPHY   
------------------ */
/* ------------------
    MAIN   
------------------ */
#boolean {
    color: white;
}
#main-part td {
    font-size: .875rem;
}

/* ------------------
    ASIDE   
------------------ */
.ms-col i {
    font-size: 1.25rem;
}